manifest {
    version = getGitVersion()
    name = 'orthogarden'
    description = 'An automated and containerized de novo assembly-based phylogenomics pipeline'
    homePage = 'https://github.com/jacksonhturner/orthogarden'
    license = 'MIT'
}

params {
    skip_qc              = false
    skip_trim            = false
    r1_adapter           = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
    r2_adapter           = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
    minimum_length       = 30
    kraken_db            = false
    retain_third_pos     = false
    masking_threshold    = 0.4
    buffer_n             = 500
    ulimit               = 100000
    limit_ogs            = 2000
}

includeConfig "conf/containers.config"

def defaultScratch = System.getenv('SCRATCHDIR') ?: "${params.publish_dir}"

profiles {

    slurm {
        includeConfig "conf/slurm.config"
        workDir = "${params.publish_dir}/work/"

        singularity {
            enabled = true
            cacheDir = defaultScratch + "/singularity/"
            autoMounts = true
        }

        process {
            executor = 'slurm'
        }
        includeConfig "conf/reporting.config"
    }

    local {
        // create default for publish_dir if not input
        includeConfig "conf/local.config"
        workDir = "${params.publish_dir}/work/"

        singularity {
            enabled = true
            cacheDir = defaultScratch + "/singularity/"
            autoMounts = true
        }

        includeConfig "conf/reporting.config"
    }

    gh_test {
        // create default for publish_dir if not input
        includeConfig "conf/local.config"
        workDir = "${params.publish_dir}/work/"

        singularity {
            enabled = true
            cacheDir = defaultScratch + "/singularity/"
            autoMounts = true
        }

        includeConfig "conf/reporting.config"
    }
}

def getGitVersion() {
    try {
        def gitTag = ['git', 'describe', '--tags', '--always'].execute().text.trim()
        return gitTag ?: 'dev'
    } catch (Exception e) {
        return 'unknown'
    }
}
