params {
    skip_qc              = false
    skip_trim            = false
    r1_adapter           = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
    r2_adapter           = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
    minimum_length       = 30
    kraken_db            = false
    retain_third_pos     = false
    masking_threshold    = 0.4
    buffer_n             = 500
    ulimit               = 100000
    limit_ogs            = 2000
}

includeConfig "conf/containers.config"

profiles {

    slurm {
        includeConfig "conf/slurm.config"
        workDir = "${params.publish_dir}/work/"

        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }

        process {
            publish_dir = "${params.publish_dir}/publish/"
            executor = 'slurm'
        }
        includeConfig "conf/reporting.config"
    }

    local {
        // create default for publish_dir if not input
        includeConfig "conf/local.config"
        workDir = "${params.publish_dir}/work/"

        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }

        process {
            publish_dir = "${params.publish_dir}/publish/"
        }
        includeConfig "conf/reporting.config"
    }

}

