process {
    withLabel: 'pandas' {
        container = "quay.io/biocontainers/pandas:1.5.2"
    }

    withLabel: 'cutadapt' {
        container = "quay.io/biocontainers/cutadapt:4.3--py310h1425a21_0"
    }

    withLabel: 'fastqc' {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withLabel: 'multiqc' {
        container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
    }

    withLabel: 'kraken2' {
        container =  "quay.io/biocontainers/kraken2:2.0.9beta--pl526hc9558a2_0"

}
