process {
    withLabel: 'pandas' {
        container = "quay.io/biocontainers/pandas:1.5.2"
    }

    withLabel: 'cutadapt' {
        container = "quay.io/biocontainers/cutadapt:4.3--py310h1425a21_0"
    }

    withLabel: 'fastqc' {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withLabel: 'multiqc' {
        container = "quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0"
    }

    withLabel: 'kraken2' { 
        container =  "quay.io/biocontainers/kraken2:2.0.9beta--pl526hc9558a2_0"
    }

    withlabel: 'trimmomatic' { // should we cut this if we're using cutadapt instead? //
        container = "quay.io/biocontainers/trimmomatic:0.35--6"
    }

    withlabel: 'masurca' {
        container = "quay.io/biocontainers/masurca:4.1.0--pl5321hb5bd705_1"
    }

    withlabel: 'augustus' {
        container = "quay.io/biocontainers/augustus:3.3.3--pl5321h700735d_12"
    }

    withlabel: 'orthofinder' {
        container = "quay.io/biocontainers/orthofinder:2.5.5--hdfd78af_1"
    }

    withlabel: 'seqkit' {
        container = "quay.io/biocontainers/seqkit:0.15.0--0"
    }

    withlabel: 'pasta' { // 2 "high" security elements from the security scanner -- unfortunately, this is the best version out there //
        container = "quay.io/biocontainers/pasta:1.7.8--py37h8f50634_4"
    }

    withlabel: 'trimal' {
        container = "quay.io/biocontainers/trimal:1.4.1--hc9558a2_4"
    }

    withlabel: 'iqtree' { // we may need to replace this with iqtree2 but, between the two, iqtree is the more secure package //
        container = "quay.io/biocontainers/iqtree:2.1.2--h56fc30b_0"
    }

}
