profiles {

    four {

        executor {
            queueSize = 4
        }

        process {
            withLabel: lil_mem {
                cpus = 1
            }
            withLabel: med_mem {
                cpus = 2
            }
            withLabel: big_mem {
                cpus = 4
                memory = 100.GB
            }
            withLabel: sup_mem {
                cpus = 4
                maxForks = 1
                memory = { 100.GB * task.attempt }
                maxRetries 3
            }

        }
    }

    eight {

        executor {
            queueSize = 8
        }

        process {
            withLabel: lil_mem {
                cpus = 2
            }
            withLabel: med_mem {
                cpus = 4
            }
            withLabel: big_mem {
                cpus = 8
                memory = 100.GB
            }
            withLabel: sup_mem {
                cpus = 8
                maxForks = 3
                memory = { 100.GB * task.attempt }
                maxRetries 3
            }

        }
    }

}

