trace.overwrite = true
dag.overwrite = true

dag {
    enabled = true
    file    = "${params.publish_dir}/summary/${params.timestamp}_dag.html"
}

report {
    enabled = true
    file    = "${params.publish_dir}/summary/${params.timestamp}_report.html"
}

timeline{
    enabled = true
    file    = "${params.publish_dir}/summary/${params.timestamp}_timeline.html"
}

trace {
    enabled = true
    file    = "${params.publish_dir}/summary/${params.timestamp}_trace.html"
}
