profiles {
    campus {
        executor {
            queueSize = 50
            submitRateLimit = '10/1min'
        }

        process {
            withLabel: lil_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus \
                                  -q campus'
                cpus = 1
            }
            withLabel: med_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus \
                                  -q campus'
                cpus = 4
                maxForks = 4
            }
            withLabel: big_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus \
                                  -q campus'
                cpus = 8
                maxForks = 2
            }
            withLabel: sup_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus \
                                  -q campus'
                cpus = 8
                maxForks = 1
            }

        }
    }
    bigmem {
        executor {
            queueSize = 50
            submitRateLimit = '10/1min'
        }

        process {
            withLabel: lil_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus-bigmem \
                                  -q campus-bigmem'
                cpus = 2
            }
            withLabel: med_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus-bigmem \
                                  -q campus-bigmem'
                cpus = 8
                maxForks = 4
            }
            withLabel: big_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus-bigmem \
                                  -q campus-bigmem'
                cpus = 16
                maxForks = 2
            }
            withLabel: sup_mem {
                clusterOptions = '-A ACF-UTK0032 \
                                  -p campus-bigmem \
                                  -q campus-bigmem'
                cpus = 16
                maxForks = 1
            }

        }
    }
}
