params.sc_lil = '--account=ACF-UTK0032 \
                 --partition=campus \
                 --qos=campus'
params.sc_med = '--account=ACF-UTK0032 \
                 --partition=campus \
                 --qos=campus'
params.sc_big = '--account=ACF-UTK0032 \
                 --partition=campus \
                 --qos=campus'
params.sc_sup = '--account=ACF-UTK0032 \
                 --partition=campus-bigmem \
                 --qos=campus-bigmem'
