params.sc_lil = '--account=ACF-UTK0032 \
                 --partition=campus \
                 --qos=campus \
                 --time=0-10:00:00'
params.sc_med = '--account=ACF-UTK0032 \
                 --partition=long \
                 --qos=long \
                 --time=2-00:00:00'
params.sc_big = '--account=ACF-UTK0032 \
                 --partition=campus \
                 --qos=campus \
                 --time=0-12:00:00'
params.sc_bgt = '--account=ACF-UTK0032 \
                 --partition=long \
                 --qos=long \
                 --time=3-00:00:00'
params.sc_sup = '--account=ACF-UTK0032 \
                 --partition=campus-bigmem \
                 --qos=campus-bigmem \
                 --time=0-20:00:00'
