profiles {
    custom {
        includeConfig "slurm_custom.config"
        executor {
            queueSize = 50
            submitRateLimit = '10/1min'
        }

        process {
            withLabel: lil_mem {
                clusterOptions = params.sc_lil
                cpus = 1
            }
            withLabel: med_mem {
                clusterOptions = params.sc_med
                cpus = 4
                maxForks = 4
            }
            withLabel: big_mem {
                clusterOptions = params.sc_big
                cpus = 8
                maxForks = 2
            }
            withLabel: sup_mem {
                clusterOptions = params.sc_sup
                cpus = 8
                maxForks = 1
            }

        }
    }

}
