profiles {
    custom {
        includeConfig "slurm_custom.config"
        executor {
            queueSize = 50
            submitRateLimit = '10/1min'
        }

        process {
            withLabel: lil_mem {
                clusterOptions = params.sc_lil
                cpus = 2
            }
            withLabel: med_mem {
                clusterOptions = params.sc_med
                cpus = { 8 * task.attempt }
                maxForks = 4
                memory = { 50.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: big_time {
                clusterOptions = params.sc_bgt
                cpus = 32
                maxForks = 1
                memory = 150.GB
            }
            withLabel: big_mem {
                clusterOptions = params.sc_big
                cpus = 8
                maxForks = 4
                memory = { 100.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: sup_mem {
                clusterOptions = params.sc_sup
                cpus = 8
                maxForks = 4
                memory = { 200.GB * task.attempt }
                maxRetries = 3
            }

        }
    }

}
